

    <div  class="form-inline" >

        <div class="form-group">
         <label>Medication name</label>
         <input type="text" name="name" autocomplete="off" class="form-control" required ng-minlength=3 
         ng-maxlength=40 ng-model="regimen.editMedication.name"></input>
       </div>

       
        <div class="form-group">
         <label>How many times a day to take</label>
          <select class="form-control" ng-model="regimen.editMedication.timesaday" 
          ng-options="item for item in regimen.medication.timesadayitems">
  		  </select>

     </div>

        <div class="form-group">
        <label>How many drops</label>
        <input type="number" name="dosage" placeholder="" value="" autocomplete="off" min="1" max="20" class="form-control" required ng-model="regimen.editMedication.dosage"></input>
      </div>

       <div class="form-group">
        <label>Choose the first day to start regimen for this medicaton</label>
        <select class="form-control" ng-model="regimen.editMedication.daystart" 
          ng-options="item for item in regimen.medication.startdays">
  		  </select>
     </div>

     <div class="form-group">
      <label>Choose the last day to end regimen for this medicaton</label>
      <select class="form-control" ng-model="regimen.editMedication.dayend" 
          ng-options="item for item in regimen.medication.startdays">
  		  </select>
   </div>


   <div class="form-group">
     <input class="btn btn-success" type="button" value="Save" ng-click="regimen.saveEdit(medication)">
     <a href="#" class="btn" data-dismiss="modal"  ng-click="regimen.cancelEdit()">Cancel</a>
   </div>


 </div>

