     <!-- form elements -->  
     <div class="row">
       <div class="col-md-10">
        <div class="field-ui field-size-large">
          <label>Regimen name</label>
          <input type="text" name="name" placeholder="Type name of regimen..." value="regimen.name" autocomplete="off" class="form-control" required ng-minlength=3 
          ng-maxlength=40 ng-model="regimen.name"></input>

        </div>
        <hr>
      </div>
    </div>   


    <div class="row">
      <div class="col-md-10">
        <a href= "#form-modal-content"  role="button" class="btn btn-success btn-large" data-toggle="modal">+ Add Medications</a><hr>
      </div>
    </div>



    <div id="form-modal-content" class="dialog modal fade" role="dialog" style="display: none;">
      <div class="panel panel-default">
        <p class="panel-heading no-collapse">New Medication</p>
        <div class="panel-body">
         <form name="medicationForm" ng-submit="regimen.saveMedication()" role="form">

          <div class="form-group">
           <label>The name of medication</label>
           <input type="text" name="name" placeholder="" value="" autocomplete="off" class="form-control" required ng-minlength=3 
           ng-maxlength=40 ng-model="regimen.medication.name"></input>
         </div>
         <div class="form-group">
          <label>How many drops</label>
          <input type="number" name="dosage" placeholder="" value="" autocomplete="off" min="1" max="20" class="form-control" required ng-model="regimen.medication.dosage"></input>
        </div>
        <div class="form-group">
         <label>How many times a day to take</label>
         <select class="form-control" ng-model="regimen.medication.timesaday">
           <option value='' disabled selected style='display:none;'></option> 
           <option ng-repeat="item in timesadayitems" value="{{item}}">{{item}}</option>
         </select>
       </div>


       <div class="form-group">
        <label>Choose the first day to start regimen for this medicaton</label>
        <select class="form-control" ng-model="regimen.medication.daystart">
         <option value='' disabled selected style='display:none;'>Select start day</option> 
         <option ng-repeat="item in startdays" value="{{item}}">{{item}}</option>
       </select>
     </div>
     <div class="form-group">
      <label>Choose the last day to end regimen for this medicaton</label>
      <select class="form-control" ng-model="regimen.medication.dayend">
       <option value='' disabled selected style='display:none;'>Select end day</option> 
       <option ng-repeat="item in startdays" value="{{item}}">{{item}}</option>
     </select>
   </div>




   <div class="form-group">
     <input class="btn btn-success" type="submit" value="Ok" id="submit" >
     <a href="#" class="btn" data-dismiss="modal"  ng-click="regimen.cancelMedication()">Cancel</a>


   </div>

   <div class="clearfix"></div>
 </form>
</div>

