 <div class="row">
    <div class="col-md-10">

        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Regimens</div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="text-center" width="20%">Regimen name</th>
                        <th class="text-center" width="10%">Created</th>

                        <th class="text-center" width="10%"><span class="glyphicon glyphicon-pencil"></span></th>
                        <th class="text-center" width="10%"><span class="glyphicon glyphicon-trash"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="regimen in regimen.regimens">


                        <td class="text-center" ng-hide="regimen.modify">{{regimen.name}}</td>

                        <td class="text-center" ng-hide="regimen.modify">{{regimen.created_at}}</td>                    


                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="regimen.updateRegimen($index,false)">
                                <span class="glyphicon glyphicon-pencil"></span> Update
                            </button>
                        </td>
                        <td class="text-center">
                            <button ng-disabled="true" type="button" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                        </td>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
